<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
	<!--先定义所有的appender -->
	<appenders>
		<!--这个输出控制台的配置 -->
		<Console name="Console" target="SYSTEM_OUT">
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="trace" onMatch="ACCEPT"
				onMismatch="DENY" />
			<!--这个都知道是输出日志的格式 -->
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</Console>
		<!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="50MB" />
		</RollingFile>
		<RollingFile name="CatchExceptionRollingFile" fileName="logs/exception.log"
			filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="50MB" />
		</RollingFile>
		<RollingFile name="RollingSqlFile" fileName="logs/sql.log"
			filePattern="log/$${date:yyyy-MM}/sql-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="50MB" />
		</RollingFile>
	</appenders>
	<!--然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
	<loggers>
		<logger name="log4j.logger.com.mybatis" level="debug" >
			<appender-ref ref="RollingSqlFile" />
		</logger>
		<logger name="log4j.logger.com.mybatis.common.jdbc.SimpleDataSource" level="debug" >
			<appender-ref ref="RollingSqlFile" />
		</logger>
		<logger name="log4j.logger.com.mybatis.common.jdbc.ScriptRunner" level="debug" >
			<appender-ref ref="RollingSqlFile" />
		</logger>
		<logger name="log4j.logger.com.mybatis.sqlmap.engine.impl.SqlMapClientDelegate" level="debug" >
			<appender-ref ref="RollingSqlFile" />
		</logger>
		<logger name="log4j.logger.java.sql.Connection" level="debug" >
			<appender-ref ref="RollingSqlFile" />
		</logger>
		<logger name="log4j.logger.java.sql.Statement"
			level="debug" >
			<appender-ref ref="RollingSqlFile" />
		</logger>
		<logger name="log4j.logger.java.sql.PreparedStatement" level="debug" >
			<appender-ref ref="RollingSqlFile" />
		</logger>
		<logger name="com.cn.exception.CustomExceptionHandler" level="trace">
            <appender-ref ref="CatchExceptionRollingFile"/>
        </logger>
		<!--建立一个默认的root的logger -->
		<root level="trace">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>