<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.sys.DictionaryMapper">
  <resultMap id="BaseResultMap" type="com.model.sys.Dictionary">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="LABEL" jdbcType="VARCHAR" property="label" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="SEQ" jdbcType="INTEGER" property="seq" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, VALUE, LABEL, TYPE, DESCRIPTION, SEQ, STATUS, CREATE_DATE, CREATE_USER, UPDATE_DATE, 
    UPDATE_USER
  </sql>
  <select id="searchList" parameterType="com.condition.sys.DistionaryCondition" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from sys_dictionary
    <where>
    	<if test="type!=null and type!=''">and TYPE = #{type}</if>
    	<if test="status!=null"> and STATUS = #{status}</if>
	</where>
    order by seq asc
  </select>
  <select id="searchPage" parameterType="com.condition.sys.DistionaryCondition" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from sys_dictionary
    <where>
    	<if test="value!=null and value!=''">and VALUE like "%"#{value}"%"</if>
    	<if test="label!=null and label!=''">and LABEL like "%"#{label}"%"</if>
    	<if test="type!=null and type!=''">and TYPE = #{type}</if>
	</where>
    order by type,
    		seq asc
    limit #{offset},#{rows}
  </select>
  <select id="getCount" parameterType="com.condition.sys.DistionaryCondition" resultType="Long">
  	select count(id) from sys_dictionary
    <where>
    	<if test="value!=null and value!=''">and VALUE like "%"#{value}"%"</if>
    	<if test="label!=null and label!=''">and LABEL like "%"#{label}"%"</if>
    	<if test="type!=null and type!=''">and TYPE = #{type}</if>
	</where>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dictionary
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_dictionary
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.model.sys.Dictionary">
    insert into sys_dictionary (ID, VALUE, LABEL, 
      TYPE, DESCRIPTION, SEQ, 
      STATUS, CREATE_DATE, CREATE_USER, 
      UPDATE_DATE, UPDATE_USER)
    values (#{id,jdbcType=BIGINT}, #{value,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.sys.Dictionary">
    insert into sys_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="value != null">
        VALUE,
      </if>
      <if test="label != null">
        LABEL,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="seq != null">
        SEQ,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.sys.Dictionary">
    update sys_dictionary
    <set>
      <if test="value != null">
        VALUE = #{value,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        LABEL = #{label,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        SEQ = #{seq,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.sys.Dictionary">
    update sys_dictionary
    set VALUE = #{value,jdbcType=VARCHAR},
      LABEL = #{label,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>