<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.sys.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.model.sys.Resource">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="RESOURCE_TYPE" jdbcType="INTEGER" property="resourceType" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="ICONCLS" jdbcType="VARCHAR" property="iconcls" />
    <result column="PID" jdbcType="BIGINT" property="pid" />
    <result column="TREE" jdbcType="VARCHAR" property="tree" />
    <result column="SEQ" jdbcType="TINYINT" property="seq" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, URL,RESOURCE_TYPE, DESCRIPTION, ICONCLS, PID, TREE, SEQ, STATUS, CREATE_DATE, CREATE_USER, 
    UPDATE_DATE, UPDATE_USER
  </sql>
  <select id="searchByList" parameterType="com.condition.sys.ResourceCondition"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_resource
		<where>
			<if test="id!=null">ID = #{id}</if>
			<if test="pid!=null">and PID = #{pid}</if>
			<if test="status!=null">and STATUS = #{status}</if>
			<if test="resourceType!=null">and RESOURCE_TYPE = #{resourceType}</if>
			<if test="userId!=null">and ID in (select RESOURCE_ID from sys_role_resource where ROLE_ID = (select ROLE_ID from sys_manage_user where ID=#{userId})) </if>
		</where>
		order by seq asc
	</select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_resource
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_resource
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.model.sys.Resource">
    insert into sys_resource (ID, NAME, URL, RESOURCE_TYPE,
      DESCRIPTION, ICONCLS, PID, 
      TREE, SEQ, STATUS, 
      CREATE_DATE, CREATE_USER, UPDATE_DATE, 
      UPDATE_USER)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{resourceType,jdbcType=INTEGER},
      #{description,jdbcType=VARCHAR}, #{iconcls,jdbcType=VARCHAR}, #{pid,jdbcType=BIGINT}, 
      #{tree,jdbcType=VARCHAR}, #{seq,jdbcType=TINYINT}, #{status,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.sys.Resource">
    insert into sys_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="resourceType != null">
        RESOURCE_TYPE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="iconcls != null">
        ICONCLS,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="tree != null">
        TREE,
      </if>
      <if test="seq != null">
        SEQ,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null">
        #{resourceType,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="iconcls != null">
        #{iconcls,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="tree != null">
        #{tree,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.sys.Resource">
    update sys_resource
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null">
        RESOURCE_TYPE = #{resourceType,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="iconcls != null">
        ICONCLS = #{iconcls,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        PID = #{pid,jdbcType=BIGINT},
      </if>
      <if test="tree != null">
        TREE = #{tree,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        SEQ = #{seq,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.sys.Resource">
    update sys_resource
    set NAME = #{name,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      RESOURCE_TYPE = #{resourceType,jdbcType=INTEGER},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      ICONCLS = #{iconcls,jdbcType=VARCHAR},
      PID = #{pid,jdbcType=BIGINT},
      TREE = #{tree,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=TINYINT},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>